$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

img {
  position: absolute;
}

.vod {
  position: absolute;
  z-index: 5;
}

.first {
  position: absolute;
  width: 900px;
  top: 4%;
  left: calc(50% - 700px);
  z-index: -5;
}

.second {
  z-index: -4;
}

.third {
  z-index: 9;
  width: 1000px;
  opacity: 0.9;
}

.fourth {
  width: 1000px;
  z-index: 10;
}
